.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  padding: 5px;
  color: white;
}

.App-intro {
  font-size: large;
}

.todo-list {
  width: 300px;
  margin: auto;
}

.todo-list form {
  text-align: center;
}

.todo-list form button {
  margin-left: 10px;
  width: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
